# Java/Maven
target/
**/*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# OS/IDE
.DS_Store
.idea/
.vscode/
*.iml

# Logs
*.log

# Flutter/Dart (app)
calowin_ui/build/
calowin_ui/.dart_tool/
calowin_ui/.packages